<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <a href="login"target="_blank">Go to login page</a>
    </div>
    <br>
    <div>
    <a href="Register"target="_blank"> Go to Register page</a>
    
    </div>
    
</body>
</html>


    </div>
    
</body>
</html>
